.map {
  height: 92.5vh;
  z-index: -100;
  /* width: 165vh; */
}
.slidepane {
  font-family: "Noto Sans", sans-serif;
  z-index: 999;
}

/* .slidepanebody {
  font-family: "Noto Sans", sans-serif;
  
} */

/* .mapcontainer {
  z-index: -1;
} */
