@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.button {
  font: inherit;
  background: #277bc0;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 7px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  border-color: white;
}

.button:hover,
.button:active {
  background: #277bc0c2;
}

.button:focus {
  outline: none;
}
